{% extends "base.html" %}
{% block content %}
  <div style="margin:auto;" align="center">
    <h2>Case Details</h2>
    <div class="table-responsive">
      <table class="table table-hover table-bordered" style="width: auto;">
        <tbody>
          <tr>
            <th class="table-active">Name</th>
            <td>
              <a class="mr-2" href="{% url 'client-detail' object.person.id %}">
                {{ object.person.name }}
              </a>
            </td>
          </tr>
          <tr>
            <th class="table-active">Referral Date</th>
            <td>{{ object.referral_date }}</td>
          </tr>
          <tr>
            <th class="table-active">Referred By</th>
            <td>{{ object.referred_by }}</td>
          </tr>
          <tr>
            <th class="table-active">Date Incarcerated</th>
            <td>{{ object.date_incarcerated }}</td>
          </tr>
          <tr>
            <th class="table-active">Date Bail Set</th>
            <td>{{ object.date_bail_set }}</td>
          </tr>
          <tr>
            <th class="table-active">Date of Jail Interview</th>
            <td>{{ object.date_of_jail_interview }}</td>
          </tr>
          <tr>
            <th class="table-active">Bail Amount</th>
            <td>${{ object.bail_amount }}</td>
          </tr>
          <tr>
            <th class="table-active">Facility</th>
            <td>{{ object.facility }}</td>
          </tr>
          <tr>
            <th class="table-active">Docket Number</th>
            <td>{{ object.docket_number }}</td>
          </tr>
          <tr>
            <th class="table-active">Support Caller</th>
            <td>
              {{ object.support_caller }} {% if object.support_caller.email %}<{{ object.support_caller.email }}>{% endif %}
            </td>
          </tr>
          <tr>
            <th class="table-active">Date Support Call Completed</th>
            <td>{{ object.date_support_call_completed }}</td>
          </tr>
          <tr>
            <th class="table-active">Support Funding Source</th>
            <td>{{ object.support_funding_source }}</td>
          </tr>
          <tr>
            <th class="table-active">Opt in for Additional Resources</th>
            <td>{{ object.opt_in_for_additional_resources|yesno:"Yes,No" }}</td>
          </tr>
          <tr>
            <th class="table-active">Created At</th>
            <td>{{ object.created_at }}</td>
          </tr>
          <tr>
            <th class="table-active">Updated At</th>
            <td>{{ object.updated_at }}</td>
        </tbody>
      </table>
    </div>
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'case-update' object.person.id object.pk %}">Update Case Information</a>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'case-delete' object.person.id object.pk %}">Delete Case</a>
    </div>
  </div>
{% endblock content %}