{% extends "base.html" %}
{% block content %}
    {% if incarcerated_persons %}
      {% for incarcerated_person in incarcerated_persons %}
          <article class="media content-section">
            <div class="media-body">
              <div>
                <a class="mr-2" href="{% url 'incarceratedperson-detail' incarcerated_person.id %}">{{ incarcerated_person.first_name }} {{ incarcerated_person.last_name }}</a>
              </div>
            </div>
          </article>
      {% endfor %}
    {% else %}
      <p>No incarcerated persons</p>
    {% endif %}
{% endblock content %}